*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.parent{
    width: 1000px;
    margin:100px auto;
     /* grid container */
     display: grid;
     grid-template-columns:100px 100px 100px;
     /* grid-template-rows: 100px; */
     /* align-items: center; */
     grid-gap: 10px 20px;

}

.child{
    font-size: 2rem;
    color: white;
    background-color: blueviolet;
    padding: 10px;
}

.child1{
    grid-column-start: 1;
    grid-column-end: 3;
}


.child2{
    grid-row-start: 1;
    grid-row-end: 3;
}

